html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #83b7b7;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0px 0px 8px black;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar nav {
  background: #255555;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px 40px;
  height: 35px;
}

.navbar .item {
  position: relative;
  text-decoration: none;
  color: #ffffff;
  font-family: "Righteous", Arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0px 0px 20px white;
}

.navbar .linktext {
  font-size: 18px;
  position: relative;
  z-index: 2;
  color: #e5eeff;
  transition: transform 0.25s ease, color 0.25s ease;
  text-align: center;
}

.navbar .linktext:before,
.navbar .linktext:after {
  opacity: 0;
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  transform: translateY(32px);
  transition: 0.25s ease;
}

.navbar .linktext:before {
  content: "";
  height: 2px;
  background: #3c8a8a;
}

.navbar .linktext:after {
  content: attr(data-text);
  font-size: 0.55em;
  color: #4fbbbb;
  margin-top: 3px;
}

.navbar .item:hover .linktext {
  transform: scale(1.2);
  color: #ffffff;
}

.navbar .item:hover .linktext:before,
.navbar .item:hover .linktext:after {
  opacity: 1;
  transform: translateY(14px);
}

@media (max-width: 900px) {
  .navbar nav {
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .navbar .linktext {
    font-size: 1em;
  }
}

footer {
  background: #255555;
  color: rgb(130, 130, 130);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 100%;
  margin-top: auto;
}
.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  text-shadow: 0px 0px 20px white;
  font-size: 18px;
  margin-top: -13px;
}
.logout-btn:hover{
  transform: scale(1.2);
  transition: ease-out 0.2s;
}
.logout-btn:after {
  content: attr(data-text);
}

.welcome .linktext {
  color: #83b7b7;
  font-weight: bold;
}
