.skeleton {
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 4px;
  animation: skeleton-loading 1.2s ease-in-out infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}

.skeleton.text {
  width: 100%;
  height: 1em;
  margin-bottom: 0.5em;
}

.skeleton.rect {
  width: 100%;
  height: 100%;
}

.skeleton.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
  .skeleton {
    background-color: #333;
    background-image: linear-gradient(90deg, #333, #444, #333);
  }
}
